<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    </style>
    <link rel="stylesheet" href="./transaction.css">
    <link rel="stylesheet" href="../libs/mdb-bootstrap-5-pro/css/mdb.min.css">
    <link rel="stylesheet" href="shipment-row.css">
</head>
<body>
    <header class="main-header"></header>
    <aside class="side-bar close"></aside>
    <main class="main">
        <article class="body">
            <main class="content p-3">
                <h1 class="text-uppercase fw-semibold fs-4 underline">
                    <u>Tổng quan nhập kho</u>
                </h1>
                <article class="overview">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </article>

                <div class="shipment-row-wrap">
                    <div class="header">
                        <div class="fw-normal">Mã lô hàng: xxx</div>
                        <div class="d-flex gap-1">
                            <div class="fw-normal">Mức độ phân loại lô hàng này:</div>
                            <div class="shipment-tag outdate">
                                <span>Sắp hết hạn</span>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="thumbnail-wrap">
                            <img src="https://ih1.redbubble.net/image.5452846048.9607/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.jpg" width="100%" alt="encore">
                        </div>
                        <div class="info-grid">
                            <div class="grid-item"></div>
                            <div class="grid-item"></div>
                            <div class="grid-item"></div>
                            <div class="grid-item"></div>
                            <div class="grid-item"></div>
                            <div class="grid-item"></div>
                            <div class="grid-item"></div>
                            <div class="grid-item"></div>
                        </div>
                    </div>
                </div>
            </main>
        </article>
    </main>
</body>
</html>