<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </style>
    <link rel="stylesheet" href="../css/main-style.css">
    <link rel="stylesheet" href="./transaction.css">
    <link rel="stylesheet" href="../libs/mdb-bootstrap-5-pro/css/mdb.min.css">
    <link rel="stylesheet" href="../stylesheet/fontawesome.min.css">
    <link rel="stylesheet" href="../stylesheet/all.min.css">
    <link rel="stylesheet" href="../libs//DataTables/datatables.css">
    <link rel="stylesheet" href="../css/datatables-override.css">
    <link rel="stylesheet" href="../css/bootstrap-override.css">
    <link rel="stylesheet" href="shipment-row.css">
    <style>
        .table-header {
            background-image: url(../images/footer-bg.jpg);
            color: var(--wheat-color);
            text-transform: uppercase;
            font-size: 20px;
            padding: 10px;
            font-weight: 600;
        }

        .dataTables_scrollHead {
            display: none;
        }
        
        .dataTables_wrapper {
            margin-top: 0px;
        }
    </style>
</head>
<body>
    <header class="main-header"></header>
    <aside class="side-bar close"></aside>
    <main class="main">
        <article class="body">
            <main class="content p-3">
                <h1 class="text-uppercase fw-semibold fs-4 underline">
                    <u>Tổng quan nhập kho</u>
                </h1>
                <article class="overview">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </article>
                <div class="table-header">
                    <span>Trình quản lý nhập kho</span>
                </div>
                <table id="table_orders" style="width: 100%">
                    <thead>
                    <tr>
                    </tr>
                    </thead>
                </table>
            </main>
        </article>
    </main>
    <script src="../js/jquery.js"></script>
    <script src="../libs/DataTables/datatables.js"></script>
    <script type="module" src="fake-data.js"></script>
    <script type="module" src="transaction.js"></script>
</body>
</html>